*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url("static\online_job_seach_portal_features.jpg");

    /* background: rgb(215, 238, 153); */
}
.main{
    background: white;
    float: right;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 310px;
    box-shadow: 0 0 30px;
  

}

input{
    margin-top: 1px;
    width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
    outline:  #4CAF50;;
   font-size: medium;
    
}

select{
    margin-top: 1px;
    width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
    outline:  #4CAF50;;
   font-size: medium;
    
}

button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
    width: 90%;
    letter-spacing: 1px;
    margin-top: 20px;
   
}
.logo h1{
    margin-top: 10px;
    letter-spacing: 1px;
}
.logo{
    font-family: 'Sriracha', cursive;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    height: 50px;

}

._logo h1{
    margin-top: 10px;
    letter-spacing: 1px;
}
._logo{
    font-family: 'Sriracha', cursive;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    height: 50px;

}
form{
    
    text-align: center;
    height: 250px;
 
}
form #input{
    margin-top: 20px;
}
.signuplink{
    text-align: center;
    height: 100px;
  margin-top: 10px;
  
}
.signuplink span a{
    text-decoration: none;
}

.signuplink span a{

margin-top: 8px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
._main{
    margin-top: 10px;
    background: rgb(250, 249, 249);
    float: right;
    position: absolute;
    top: 135%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 107px;
    box-shadow: 0 0 30px;
  

}
._main h3{
    letter-spacing: .5px;
    line-height: normal;
    font-weight: bold;
    text-align: left;
    margin-left: 45px;
    margin-top: 2px;
    
}
._main span{
    letter-spacing: .5px;
    line-height: normal;
    font-weight: bold;
    text-align: left;
    margin-left: 45px;
    margin-top: 2px;
    
}
.image {
    /* border: 5px solid red; */
    margin: 5px;
    box-sizing: border-box;
    width: 900px;
    height: 670px;
    background-color: #4CAF50;
}
.image img{
    /* margin: 20px; */
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

._signuplink{
    text-align: center;
    height: 100px;
  
  
}



._signuplink a{
    text-decoration: none;
}
._signuplink h3{
    /* letter-spacing: .5px; */
    line-height: normal;
    font-weight: bold;
    text-align: center;
}
body{
    background-image: url(/static/online_job_seach_portal_features.jpg);
    background-repeat: no-repeat;
    border-color: black;
    background-size: cover;
    
    /* background: rgb(215, 238, 153); */
}